<header class="w-100">
  <div class='header-container d-flex flex-between ubuntu-regular text-color-gray flex-fill'>
        <a href="{{ path('app_home_page') }}" class="logo-container ms-40">
          <img src="{{ asset('images/logo_portfolio.svg')}}" alt="">
        </a>
          <button class="hamburger" aria-label="Menu" aria-controls="navigation">
              <i class="fa-solid fa-bars"></i>
          </button>
        <nav id="navigation" class="d-flex flex-evenly my-10" >
            <ul class="d-flex nav-links">
              <li class="me-15"><a href="{{ path('app_about') }}">À propos</a></li>
              <li class="me-15"><a href="{{ path('app_experience_index') }}">Experiences</a></li>
              <li class="me-15"><a href="{{ path('app_project_index') }}">Projets</a></li>
              <li><a href="{{ path('app_contact') }}">Contact</a></li>
            </ul>
            <ul class="d-flex social-links mx-80">
              <li>    
                  <a href="https://github.com/Annesophie55/" >
                      <i class="fa-brands fa-github"></i>
                  </a>
                </li>
              <li class="ms-30">
                  <a href="https://www.linkedin.com/in/anne-sophie-jackowska-69a91b231/">
                      <i class="fa-brands fa-linkedin"></i>
                  </a>
              </li>
            </ul>
        </nav>
  </div>
</header>