{% if showImage %}
    {% if data.link %}
        <a href="{{ data.link }}">
    {% endif %} 
{% endif %}

<div class="card d-flex flex-column">
       
        {% if showImage %}
        <div class="project_img"><img src="{{ asset('images/' ~ data.img) }}" alt="Image Description">
        </div>

        {% else %}
         <div>  
            <p class="dateOf inter-regular">{{ data.dateOfExp }}</p>
        </div>
        {% endif %} 
      
    <div class="aboutExp inter-regular  d-flex flex-column">
        <h1>{{  data.title }}  {% if not(showImage) %} | {{ data.role }} | {{ data.place }} {% endif %}</h1>
        {% if showImage %}
        <p>{{  data.description }} </p>
        <ul class="technos_List d-flex">
        {% for techno in data.technologies %}
            <li class="technos_items">{{ techno.name }}</li>
        {% endfor %}
        </ul>
         {% else %}
        <p>{{  data.content }} </p>
        {% endif %} 
             {% if is_granted('ROLE_ADMIN')%}
        {% include 'components/admin_btn.html.twig' with { 'data': data } %}
    {% endif %}
    </div>

</div>
{% if showImage %}
    {% if data.link %}
        </a>   
    {% endif %}
{% endif %}
