<div class="card d-flex flex-column">
        <div>  
        {% if showImage %}
            <img src="path/to/image.jpg" alt="Image Description">
        {% else %}
            <p class="dateOf inter-regular">{{ data.dateOfExp }}</p>
        {% endif %} 
        </div>
    <div class="aboutExp inter-regular  d-flex flex-column">
        <h1>{{  data.title }} | {{ data.role }} | {{ data.place }}</h1>
        <p>{{  data.content }} </p>
        <ul class="technos_List d-flex">
        {% for techno in data.technologies %}
            <li class="technos_items">{{ techno.name }} <img src="" alt="logo"></li>
        {% endfor %}
        </ul>
             {% if is_granted('ROLE_ADMIN')%}
        {% include 'components/admin_btn.html.twig' with { 'experience': data } %}
    {% endif %}
    </div>

</div>
